<!DOCTYPE html>
<html ng-app="jsonToCSV">
<head>
  <meta name="description" value="">
  <meta name="keywords" value="JSON,json,CSV,csv,convert">
  <title>JSONToCsvConverter</title>
  <link rel="stylesheet" href="styles.css">
  <script src="papaparse.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="directives/FileSelectDirective.js"></script>
  <script src="services/FileDownloadService.js"></script>
  <script src="directives/FileSelectDirective.js"></script>
  <script src="services/FileDownloadService.js"></script>
  <script src="services/PapaParseService.js"></script>
  <script src="controllers/ParseController.js"></script>
  <script src="js/adsterra.js"></script>
  <script type="text/javascript" src="//www.bnserving.com/invoke.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body ng-controller="ParseController">
    <p>This tool currently utilizes the PapaParse library in order to parse a JSON file back to CSV.<br>
    The JSON file root element must be an array.  In the future this limitation will be removed.</p>
    <label>For Example:</label>
    <pre>
[ 
  {  
    "Name": "Name1",
    "Value": "Value1"
  },
  {
    "Name": "Name2",
    "Value: "Value2"
  }
]
  </pre>
  <div>
    <form name="jsonFileForm">
      <label>Json File:</label>&nbsp;&nbsp;
      <input id="jsonFileInput" 
        ng-model="file.data" 
        type="file"
        file-select="text"
        file-loaded="jsonFileLoaded()"
        file-error="handleError($error)">
        <br>
        <!--
        <select ng-model="file.root" ng-show="file.roots && file.roots.length > 0" ng-change="processFile()">
          <option ng-repeat="root in file.roots" value="{{ root }}">{{ root.parent + "_" + root.name }}</option>
        </select>
        -->
      </form>
      <pre>{{ csv }}</pre>
      <input name="downloadFileButton" type="button" ng-click="downloadFile(csv)" ng-show="csv" value="Save File"></input>
  </div>
  <div class="report-issues">
    <a class="github-button" 
      href="https://github.com/hexy-mf/JsonToCsvConverter/issues" 
      data-icon="octicon-issue-opened" 
      data-size="large" 
      data-show-count="false" 
      aria-label="Issue hexy-mf/JsonToCsvConverter on GitHub">
      Issue/Feature Request
    </a>
  </div>
  <div class-footer>
    <object class="donate" data="test.html" style="border: 0">
  </div>
</body>
</html>
