<!DOCTYPE html>
<html ng-app="jsonToCSV">
<head>
  <title>JSONToCsvConverter</title>
  <link rel="stylesheet" href="styles.css">
  <script src="PapaParse-4.3.2/papaparse.min.js"></script>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <script src="directives/FileSelectDirective.js"></script>
  <script src="services/FileDownloadService.js"></script>
  <script src="services/PapaParseService.js"></script>
  <script src="controllers/ParseController.js"></script>
</head>
<body ng-controller="ParseController">
    <form name="jsonFileForm">
      <label>Json File: </label>
      <input id="jsonFileInput" 
        ng-model="file.data" 
        type="file"
        file-select="text"
        file-loaded="jsonFileLoaded()"
        file-error="handleError($error)">
        <br>
        <select ng-model="file.root" ng-show="file.roots && file.roots.length > 0" ng-change="processFile()">
          <option ng-repeat="root in file.roots" value="{{ root }}">{{ root }}</option>
        </select>
    </form>
    <pre>{{ csv }}</pre>
    <input name="downloadFileButton" type="button" ng-click="downloadFile(csv)" ng-show="csv" value="Save File"></input>
</body>
</html>
